<app-menu></app-menu>

<section class="container">
  <div class="fluid">
    <div class="logo">
      <img src="../../assets/img/logo.png">

      <h2>Cadastro de veiculos</h2>
    </div>

    <div class="content">
      <div class="container-content info">
        <h3 class="title"><i class="bi bi-info-circle"></i>Info</h3>

        <div class="msg">
          <p>Bem vindo! Para cadastrar um novo veículo basta clicar no botão ao lado e preencher o formulário de cadastro.</p>

          <button class="btn btn-solid" (click)="toggleForm()" [disabled]="showForm"><i class="bi bi-plus-square"></i>Novo veiculo</button>
        </div>
      </div>

      <div class="container-content dados" [ngClass]="{'show': showForm}">
        <h3 class="title"><i class="bi bi-card-text"></i>Dados do veículo</h3>

        <div class="row group">
          <div class="col-6 col-md-4 item">
            <div class="form-group mb-3">
              <div class="form-floating">
                <input class="form-control" type="text" placeholder="Placa" name="placa" maxlength="7" [(ngModel)]="veiculo.placa">
                <label class="label">Placa</label>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4 item">
            <div class="form-group mb-3">
              <div class="form-floating">
                <input class="form-control" type="text" placeholder="Chassi" name="chassi" maxlength="17" [(ngModel)]="veiculo.chassi">
                <label class="label">Chassi</label>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4 item">
            <div class="form-group mb-3">
              <div class="form-floating">
                <input class="form-control" type="tel" placeholder="Renavam" name="renavam" maxlength="11" [(ngModel)]="veiculo.renavam">
                <label class="label">Renavam</label>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4 item">
            <div class="form-group mb-3">
              <div class="form-floating">
                <input class="form-control" type="text" placeholder="Modelo" name="modelo" [(ngModel)]="veiculo.modelo">
                <label class="label">Modelo</label>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4 item">
            <div class="form-group mb-3">
              <div class="form-floating">
                <input class="form-control" type="text" placeholder="Confirmar senha" name="confirmar senha" [(ngModel)]="veiculo.marca">
                <label class="label">Marca</label>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4 item">
            <div class="form-group mb-3">
              <div class="form-floating">
                <input class="form-control" type="tel" placeholder="Ano" name="ano" minlength="4" maxlength="4" [(ngModel)]="veiculo.ano">
                <label class="label">Ano</label>
              </div>
            </div>
          </div>
        </div>

        <div class="action">
          <button class="btn btn-solid" (click)="actionCadastro()">Salvar</button>
          <button class="btn btn-outline" (click)="closeForm()">Cancelar</button>
        </div>
      </div>

      <div class="container-content list" [ngClass]="{'hide': showForm}">
        <h3 class="title"><i class="bi bi-car-front-fill"></i>Veículos</h3>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Placa</th>
                <th>Chassi</th>
                <th>Renavam</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Ano</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaVeiculos">
                <td>{{item.id}}</td>
                <td>{{item.placa}}</td>
                <td>{{item.chassi}}</td>
                <td>{{item.renavam}}</td>
                <td>{{item.modelo}}</td>
                <td>{{item.marca}}</td>
                <td>{{item.ano}}</td>
                <td>
                  <button class="btn btn-edit" title="Editar" (click)="editarVeiculo(item)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-delete" title="Deletar" (click)="confirmDelete(item.id)">
                    <i class="bi bi-trash3"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<app-alert-delete *ngIf="showDeleteConfirm"
  (confirmDelete)="confirmarDeletarVeiculo()"
  (cancelDelete)="closeDeleteConfirm()">
</app-alert-delete>

