.container {
  .fluid {
    margin: 0 auto;
    width: 96%;

    .logo {
      align-items: center;
      display: flex;
      justify-content: space-between;

      img {
        height: 50px;
      }
    }

    .content {
      .container-filter {
        margin-top: 20px;
        padding: 20px;

        .title {
          align-items: center;
          display: flex;
          margin-bottom: 15px;

          .bi-filter {
            &::before {
              font-size: 25px;
              margin-right: 5px;
            }
          }
        }
      }

      .container-table {
        margin-top: 20px;
      }
    }
  }
}

