.alerta {
  background: #ffffff;
  border-radius: 5px;
  color: #121A3D;
  left: 50%;
  margin-left: -175px;
  transform: translateY(-50%);
  min-height: 100px;
  position: fixed;
  padding: 0 0 16px;
  top: 50%;
  text-align: center;
  width: 350px;
  z-index: 9999;

  .titulo {
    display: flex;
    justify-content: center;

    p {
      border-bottom: solid 2px #121A3D;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 25px;
      padding: 12px;
      text-transform: uppercase;
      width: 45%;
    }
  }

  span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    max-height: 90px;
    line-height: 18px;
    margin-bottom: 25px;
    padding: 0 16px;
    overflow: hidden;
    word-break: break-word;
  }

  .outline {
    background-color: #fd3b61;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media all and (max-width: 577px) {
  .alerta {
    margin-left: -40%;
    width: 80%;

    p {
      font-size: 16px;
    }

    .outline {
      font-size: 12px;
    }
  }
}
