.bg-block {
  background-color: #000;
  border: none;
  height: 100%;
  left: 0px;
  margin: 0px;
  opacity: 0.8;
  padding: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9999;
}

.alerta {
  background-color: #FFF;
  border-radius: 10px;
  color: #212529;
  left: 50%;
  margin-left: -175px;
  transform: translateY(-50%);
  min-height: 100px;
  position: fixed;
  padding: 0 0 16px;
  top: 50%;
  text-align: center;
  width: 350px;
  z-index: 9999;

  .titulo {
    display: flex;
    justify-content: center;

    p {
      border-bottom: solid 2px #FB8300;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 25px;
      padding: 12px;
      text-transform: uppercase;
      width: 45%;
    }
  }

  span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    max-height: 90px;
    line-height: 18px;
    margin-bottom: 25px;
    padding: 0 16px;
    overflow: hidden;
    word-break: break-word;
  }
}

@media all and (max-width: 577px) {
  .alerta {
    margin-left: -40%;
    width: 80%;

    p {
      font-size: 16px;
    }
  }
}
