body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;

  h2 {
    font-size: 18px;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  .bg-branco {
    background-color: #FFF;
  }

  .container {
    margin-left: 57px;
    max-width: 96%;
    padding-top: 6px;
  }

  .group {
    .form-group {
      .form-floating {
        .form-control {
          border-radius: 8px;
          box-shadow: none;
          color: #1E2445;
          padding: 18px 12px;

          &::placeholder {
            transition: opacity 0.5s ease-in-out;
          }

          &:focus {
            border-color: #FB8300;

            &::placeholder {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin-bottom: 15px;

    .bi {
      &::before {
        margin-right: 5px;
      }
    }
  }
}
