body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;

  h2 {
    font-size: 18px;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  .container {
    margin-left: 57px;
    max-width: 96%;
    padding-top: 6px;
  }

  .container-content {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    padding: 20px;
  }

  .group {
    .form-group {
      .form-floating {
        .form-control {
          border-radius: 8px;
          box-shadow: none;
          color: #1E2445;
          font-size: 14px;
          padding: 18px 12px;

          &::placeholder {
            transition: opacity 0.5s ease-in-out;
          }

          &:focus {
            border-color: #FB8300;

            &::placeholder {
              opacity: 0;
            }
          }

          &:focus + .label,
          &:not(:placeholder-shown) + .label {
            font-size: 12px;
            transform: scale(.85) translateY(-1.6rem) translateX(.15rem);
            transition: transform 0.4s ease-in-out, font-size 0.4s ease-in-out;
          }

          &:not(:focus):placeholder-shown + .label {
            font-size: 14px;
            transform: scale(1) translateY(0) translateX(0);
            transition: transform 0.4s ease-in-out, font-size 0.4s ease-in-out;
          }
        }

        .label {
          font-size: 14px;
        }
      }
    }
  }

  .title {
    align-items: center;
    display: flex;
    margin-bottom: 15px;

    .bi {
      &::before {
        margin-right: 5px;
      }
    }
  }

  .btn {
    border-radius: 10px;
    color: #FFF;
    font-size: 14px;
    margin-right: 10px;
    padding: 8px 12px;

    &:hover {
      transition: 0.5;
    }

    &:last-child {
      margin-right: 0;
    }

    .bi {
      &::before {
        color: #FFF;
      }
    }
  }

  .btn-solid {
    background-color: #FB8300;
    border: 1px solid #FB8300;
    min-width: 81px;

    &:hover {
      background-color: #FFC303;
      border-color: #FFC303;
      color: #FFF;
    }
  }

  .btn-outline {
    border: 1px solid #FB8300;
    color: #FB8300;
    min-width: 81px;

    &:hover {
      border-color: #212529;
      background-color: #F3f3f3;
    }
  }

  .action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
