.menu {
  background-color: #FB8300;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  padding: 6px;
  position: fixed;

  a {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 8px 10px;
    text-decoration: none;

    &:hover {
      background-color: #FFC303;
      transition: 0.5;
    }

    .bi-car-front {
      &::before {
        color: #fff;
        font-size: 25px;
      }
    }
  }
}

@media all and (max-width: 960px) {
  .menu {
    display: none;
  }
}
